  	<h1 class="center">2º de Bachillerato</h1>
  	<div class="row subjects">
	  <div class="col-md-4">
	  	<h1>Comunes</h1>
	  	<a class="btn btn-default btn-lg notempty" role="button">Lengua Castellana y Literatura</a>
	  	<a class="btn btn-default btn-lg notempty" role="button">Filosofía</a>
	  	<a class="btn btn-default btn-lg notempty" role="button">Inglés</a>
	  	<a class="btn btn-default btn-lg" role="button">Historia</a>
	  </div>
	  <div class="col-md-4">
	  	<h1>Ciencias y Tecnología</h1>
	  	<a class="btn btn-default btn-lg" role="button">Física</a>
	  	<a class="btn btn-default btn-lg" role="button">Química</a>
	  	<a class="btn btn-default btn-lg" role="button">Matemáticas</a>
	  	<a class="btn btn-default btn-lg" role="button">Biología</a>
	  	<a class="btn btn-default btn-lg" role="button">Dibujo técnico</a>
	  </div>
	  <div class="col-md-4">
	  	<h1>Humanidades y Sociales</h1>
	  	<a class="btn btn-default btn-lg" role="button">Economía</a>
	  	<a class="btn btn-default btn-lg notempty" role="button">Matemáticas aplicadas a las CCSS</a>
	  	<a class="btn btn-default btn-lg" role="button">Geografía</a>
	  	<a class="btn btn-default btn-lg" role="button">Latín</a>
	  </div>
	</div>