<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe"
style="display:none;" onload="if(submitted)
{page('/thx')}"></iframe>
  <h1 class="center enviar">Enviar videoclase</h1>
  	<div class="col-md-3"></div>
  	<div class="col-md-6">
  <form class="form-horizontal" role="form" action="https://docs.google.com/forms/d/1aBxKm3XBJHt0Vn0HM7SiI7PNyrMJlp4TiNr-AH3ZBg4/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
  <div class="form-group">
    <label class="col-sm-4 control-label">Nombre y apellidos</label>
    <div class="col-sm-8">
      <input class="form-control" type="text" name="entry.1188071359" dir="auto" required="">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Email</label>
    <div class="col-sm-8">
      <input class="form-control" type="text" name="entry.2084392685" dir="auto" required="">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Link</label>
    <div class="col-sm-8">
      <input class="form-control" type="text" name="entry.1396753609" dir="auto" required="">
    </div>
  </div>
  <div class="form-group">
  	<label class="col-sm-4 control-label">Curso</label>
  	<div class="col-sm-8">
	  	<select class="form-control" name="entry.42942736" required="">
		  	<option value=""></option>
			<option value="1º de Bachillerato">1º de Bachillerato</option>
			<option value="2º de Bachillerato">2º de Bachillerato</option>
		</select>
	</div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Asignatura</label>
    <div class="col-sm-8">
      <input class="form-control" type="text" name="entry.462244465" dir="auto" required="">
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-4 control-label">Tema de bachillerato donde incluirías el video</label>
    <div class="col-sm-8">
      <input class="form-control" type="text" name="entry.277828318" dir="auto" required="">
    </div>
  </div>
  <input type="hidden" name="draftResponse" value="[,,&quot;-4817003231242174573&quot;]
			">
			<input type="hidden" name="pageHistory" value="0">
			<input type="hidden" name="fromEmail" value="false">
			<input type="hidden" name="fbzx" value="-4817003231242174573">
  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-10">
      <button name="submit" type="submit" class="btn btn-primary btn-lg">Enviar videoclase</button>
    </div>
  </div>
  </form>
  </div>